/Ubx.xcodeproj/project.xcworkspace
/Ubx.xcodeproj/xcuserdata
/Ubx.xcodeproj/*.xcuserdatad
/Ubx.xcworkspace/xcuserdata
/Pods
/Build

/Scripts/appicon.icns
/Scripts/appicon.iconset
/Scripts/node_modules
/Scripts/Ubx.app
/Scripts/Ubx.dmg
